[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pandas = "*"
numpy = "*"
scikit-learn = "*"
flask-script = "*"
flask-cqlalchemy = "*"
click = "*"
joblib = "*"
matplotlib = "*"
seaborn = "*"
flask-cors = "*"
sqlalchemy = "*"
tensorflow = "*"
flask-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.9.6"
